// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cs-btn
{
	text-decoration: none !important;
}

.cs-btn-danger
{
	color:red;
}
.new-report
{
	color: green;
}
.cs-textarea
{
	/*max-height: 100px;*/
}